# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.pyc
cache
media
.idea
.env
*.log
*.wav
__pycache__
.DS_Store
.vscode
*.retry
celerybeat-schedule
db.sqlite3
call_center/celerybeat-schedule
call_center/celerybeat.pid
