# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
.pyc
cache
media
.idea
.env
files/
logs/
*.wav
__pycache__/
.DS_Store
.vscode/
*.retry
celerybeat-schedule
db.sqlite3
call_center/crm/__pycache__
call_center/db.sqlite3
call_center/celerybeat-schedule
call_center/celerybeat.pid
call_center/__pycache__
call_center/call_center/__pycache__
crm/call_center/__pycache__
crm/migrations/__pycache__/
call_center/.vscode/
call_center/crm/migrations/__pycache__/
call_center/users/__pycache__
call_center/users/migrations/__pycache__